@import "../mixin.scss";
.main {
  max-width: 1140px;
  margin: auto;
  color: black
}
.button {
  @include regularText;
  font-size: 16px;
  line-height: 20px;
  border-radius: 8px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  background: #118dff;
  color: #ffffff;
}
.button:hover {
  @include hover;
}

@media screen and (max-width: 540px) {
  .button {
    width: 100%;
  }
}
